<div class="detail-container" *ngIf="cosmonaut">
  <button class="back-btn" (click)="goBack()">Назад</button>

  <div class="detail-card">
    <img [src]="'assets/images/' + cosmonaut.photo" [alt]="cosmonaut.name" />

    <div class="info">
      <h2>{{ cosmonaut.name }}</h2>
      <p><strong>Дата рождения:</strong> {{ cosmonaut.birth }}</p>
      <p><strong>Ключевые достижения:</strong> {{ cosmonaut.brief }}</p>
      <hr />
      <h3>Подробная биография</h3>
      <p class="full-bio">{{ cosmonaut.full }}</p>
    </div>
  </div>
</div>

<div *ngIf="!cosmonaut" class="not-found">
  <p>Космонавт не найден.</p>
  <button (click)="goBack()">Назад</button>
</div>